/* About us */
:root{
    --color: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
    --color2: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
body{
    font-size: 1em;
    margin: 45px;
    padding: 25px;
    color: #fff;
    background-color: #000;
    justify-content: space-around;
    resize: both;
}
h3{
    align-self: center;
    font-size: 2.2rem;
    font-family: "Arial Nova Light";
    background: linear-gradient(130deg, aqua,magenta, orange);
    background-color: #fff; 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main{
    display: block;
    align-items: center;
    justify-content: center;
}
.about{
    border-bottom: 1px solid;
}
.github{
    font-size: 2.2rem;
    background-color: transparent;
    margin-bottom: 20px;
    text-decoration: none;
    margin: 20px;
    padding: 10px;
    color: transparent;
    transition: border, color, border-radius 300ms ease-in-out;
}
.github:hover{
    border: 1px solid #000;
    border-radius: 22px;
    color: #000;
}
header {
    align-items: center;
    border: 2px solid #000;
    border-radius: 14px;
    background: linear-gradient(45deg, aqua, magenta, orange);
    background-size: 200% 100%;
    transition: background-position 0.7s ease-in-out;
}

header:hover {
    background-position: -100% 0;
}

ul{
    display: flex;
    justify-content: space-around;
}
li a{
    width: 90%;
    font-weight: 300;
    font-size: 2.1em;
    font-family: "Arial Nova Light";
    color: #fff;
    text-decoration: none;
}
hr{
    margin-top: 20px;
    border: none;
    border-radius: 99px;
    background: linear-gradient(130deg, aqua,magenta, orange);
}
h1{
    color: #fefefe;
    font-size: 3rem; 
  }
.myCard {
    margin-top: 7rem;
    background-color: transparent;
    width: 600px;
    height: 700px;
    transform: translateX(400px);
    perspective: 1000px;

  } 
  .innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  
  .myCard:hover .innerCard {
    transform: rotateY(180deg);
  }
  
  .frontSide,
  .backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
  }
  
  .frontSide,
  .frontSide::before {
    background: linear-gradient(130deg, aqua,magenta, orange);
  }
  
  .backSide,
  .backSide::before {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  }
  
  .backSide {
    transform: rotateY(180deg);
  }
  
  .frontSide::before,
  .backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
  }
  
  @keyframes animate {
    0% {
      opacity: 0.3;
    }
  
    80% {
      opacity: 1;
    }
  
    100% {
      opacity: 0.3;
    }
  }