/* About us */


body{
    font-size: 1em;
    margin: 45px;
    padding: 25px;
    color: #fff;
    background-color: #000;
    justify-content: space-around;
    /* overflow: hidden; */
    resize: both;
}

h1{
    
    font-size: 4rem;
    font-family: "Arial Nova Light";
    background: linear-gradient(130deg, aqua,magenta, orange);
    background-color: #fff; 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3{
    align-self: center;
    font-size: 2.2rem;
    font-family: "Arial Nova Light";

    background: linear-gradient(130deg, aqua,magenta, orange);
    background-color: #fff; 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p{
    font-family: "Arial Nova Regular";
    font-size: 20px;
    margin-left: 20px;
}
.main{
    display: inline-block;
}
.about{
    border-bottom: 1px solid;
    /* text-decoration: underline; */
}
.github{
    background-color: transparent;
    margin-bottom: 20px;
}
.github:hover{
    border-bottom: 1px solid #fff;
    
}
header {

    align-items: center;
    border: 2px solid #000;
    border-radius: 14px;
    background: linear-gradient(45deg, aqua, magenta, orange);
    background-size: 200% 100%;
    transition: background-position 0.7s ease-in-out;
}

header:hover {
    background-position: -100% 0;
}

ul{
    display: flex;
    justify-content: space-around;
}
li a{
    width: 90%;
    font-weight: 300;
    font-size: 2.1em;
    font-family: "Arial Nova Light";
    color: #fff;
    text-decoration: none;
}

hr{
    border: none;
    border-radius: 99px;
    background: linear-gradient(130deg, aqua,magenta, orange);
}