/* Contact.css for contacts section */
html{
    scroll-behavior: smooth;
}
body{
    font-size: 1em;
    margin: 40px;
    padding: 20px;
    color: #fff;
    background-color: #000;
    justify-content: space-around;
    /* overflow: hidden; */
    resize: both;
}
h1{
    float: right;
    /* writing-mode: vertical-lr; vertical orientation of text with flex only.*/
    font-size: 4rem;
    font-family: "Arial Nova Light";
    background: linear-gradient(130deg, aqua,magenta, orange);
    background-color: #fff; 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3{
    align-self: center;
    /* writing-mode: vertical-lr; vertical orientation of text with flex only.*/
    font-size: 2.2rem;
    font-family: "Arial Nova Light";

    background: linear-gradient(130deg, aqua,magenta, orange);
    background-color: #fff; 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p{
    font-family: "Arial Nova Regular";
    font-size: 20px;
    margin-left: 20px;
}
.contact{
    border-bottom: 1px solid;
}
.main{
    display: inline-block;
}
header {
    align-items: center;
    border-radius: 14px;
    background: linear-gradient(45deg, aqua, magenta, orange);
    background-size: 200% 100%;
    transition: background-position 0.7s ease-in-out;
}

header:hover {
    background-position: -100% 0;
}

ul{
    display: flex;
    justify-content: space-around;
}
li a{
    width: 90%;
    font-weight: 300;
    font-size: 2.1em;
    font-family: "Arial Nova Light";
    color: #fff;
    text-decoration: none;
}
hr{
    border: none;
    border-radius: 99px;
    background: linear-gradient(130deg, aqua,magenta, orange);
}

/* Theme Toggle */

.toggle-btn{
    display: grid;
    place-items: center;
}

.label {
    height: 60px;
    width: 120px;
    background-color: #ffffff;
    border-radius: 30px;
    -webkit-box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
        inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
        inset 0 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
        inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
        inset 0 0 0 3px rgba(0, 0, 0, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
}

.label:hover {
    -webkit-transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
    transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
}

#checkbox:checked~.label:hover {
    -webkit-transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
    transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
}

#checkbox {
    display: none;
}

#checkbox:checked~.label::before {
    left: 70px;
    background-color: #000000;
    background-image: linear-gradient(130deg,
            #757272 10%,
            #ffffff 11%,
            #726f6f 62%);
    /* background-image: linear-gradient(315deg, #000000 0%, #414141 70%); */
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.label::before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 70%);

    /* background-image: linear-gradient(130deg,
            #757272 10%,
            #ffffff 11%,
            #726f6f 62%); */
    left: 10px;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}