/* Contact.css for contacts section */

.contact {
    text-decoration: line-through;
    color: #000;
}
.main {
    display: inline-block;
}
h1 {
    font-size: 4rem;
    font-family: "Arial Nova Light";
    background: linear-gradient(130deg, aqua,magenta, orange);
    background-color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3 {
    text-align: left;
}
/* The End */