html{
    scroll-behavior: smooth;
}
body{
    font-size: 1em;
    margin: 45px;
    padding: 25px;
    color: #fff;
    background-color: #000;
    justify-content: space-around;
    resize: both;
}
h1{
    text-align: center;
    font-size: 4rem;
    font-family: "Arial Nova Light";
    background: linear-gradient(130deg, aqua,magenta, orange);
    background-color: #fff; 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3{
    text-align: center;
    font-size: 2.2rem;
    font-family: "Arial Nova Light";
    background: linear-gradient(130deg, aqua,magenta, orange);
    background-color: #fff; 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main{
    display: inline;
}
.partners{
    border-bottom: 1px solid;
}
header {
    align-items: center;
    border: 2px solid #000;
    border-radius: 14px;
    background: linear-gradient(45deg, aqua, magenta, orange);
    background-size: 200% 100%;
    transition: background-position 0.7s ease-in-out;
}

header:hover {
    background-position: -100% 0;
}
ul{
    display: flex;
    justify-content: space-around;
}
li a{
    width: 90%;
    font-weight: 300;
    font-size: 2.1em;
    font-family: "Arial Nova Light";
    color: #fff;
    text-decoration: none;
}
hr{
    border: none;
    border-radius: 99px;
    background: linear-gradient(130deg, aqua,magenta, orange);
}