/* Partner's Section */

.main {
    display: inline;
}
.partners {
    text-decoration: line-through;
    color: #000;
}
h1 {
    text-align: center;
    font-size: 3.2rem;
    font-family: "Arial Nova Light";
    background: linear-gradient(45deg, aqua,magenta);
    background-color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* The End */