
    /* properties for arrow buttons of webpage */
    ::-webkit-scrollbar-button{
        background-color: #fff;
        border-bottom-left-radius: -44px;
        border-top-left-radius: 44px;
        border-bottom-left-radius: -44px;
        border-top-left-radius: 44px;
    }
    /* width and color of scrollbar track */
    ::-webkit-scrollbar {
        width: 20px;
        height: 10px;
        border-radius: 40px;
        background-color: #000;
        
    }
    /* color of scrollbar handle */
    ::-webkit-scrollbar-thumb {
        border-radius: 40px;
        background: linear-gradient(45deg, aqua, magenta, orange);
    }
    