    /* width and color of scrollbar track */
    ::-webkit-scrollbar {
        width: 1.4em;
        height: 20px;
        border-radius: 40px;
        background-color: #000;
    }

    /* color of scrollbar handle */
    ::-webkit-scrollbar-thumb {
        border-radius: 100vw;
        border: none;
        background: linear-gradient(45deg, aqua, magenta, orange);
    }

    ::-webkit-scrollbar-thumb:hover {
        border: 3.5px solid hsl(180, 74%, 40%);
    }
    ::-webkit-scrollbar-track {
        margin-block: .50em;
    }