/* Services section */

h3 {
    transition: all .7s ease-in-out;
}

.main>h3:hover {
    letter-spacing: -2.5px;
}

h1 {
    text-align: center;
    font-size: 3.2rem;
    font-family: "Arial Nova Light";
    background: linear-gradient(130deg, aqua, magenta, orange);
    background-color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main {
    text-align: center;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100vmax;

}

.main h3 {
    max-width: 1000px;
    margin: 3px;
    padding: 10px;
}

.services {
    text-decoration: line-through;
    color: #000;
}

/* The End */