body {
    letter-spacing: 1px;
    font-family: 'Arial Nova Light', Inter;
    /*background: #000 */
    color: #e2e2e2;
    background: linear-gradient(-44deg, black, #0f0f0f);
}


/* width and color of scrollbar track */
::-webkit-scrollbar {
    width: 1.4em;
    height: 20px;
    border-radius: 10px;
    background: black;
    /*background-color: rgb(13, 30, 36);*/
}

/* color of scrollbar handle */
::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    border: none;
    background: linear-gradient(145deg, magenta, orange);
}

::-webkit-scrollbar-thumb:hover {
    border: 3.5px solid black
}

::-webkit-scrollbar-track {
    margin-block: .50em;
}