/* Properties For Index.html */
/* Properties | Code SHOULD NOT BE Copied or Stolen at any certain conditions. */
/* Belongs to respected authors and developers.* */

@media only screen and (max-width: 1200px) {
    
    header{
        display: none;
    }
    .first{
        display: none;
    }
    .second{
        display: none;
    }
    .third{
        display: none;
    }
    footer{
        display: none;
    }
    
    body::before {
        content: "Sorry, this website is not available on smaller screens.";
        display: block;
        position: fixed;
        margin: 0 auto;
        width: 100vw;
        height: 100vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 5rem;
        color: #000;
        background: var(--color2);
        padding: 20px;
        border-radius: 15px;
    }
}
@media only screen and (max-width: 600px) {
    body{
        display: none;
        background: var(--color3);
    }   
}

/* Global Colors */
:root {
    --color: linear-gradient(45deg, aqua, magenta, orange);
    --color2: linear-gradient(120deg, lightgreen, orange);
    --color3: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    --welcome: rgb(98, 0, 234);
    --slogan: rgb(236, 64, 122);
    --blue: rgb(61, 90, 254);
    --light-blue: rgb(33, 150, 243);
    --light-green: rgb(95, 255, 180);
    --light-blue-percent: rgb(24, 49, 97);
}

h1, h2, h3, h4, h5, h6, p::selection {
    background-color: #000;
}
body::selection {
    background-color: #000;
}

body {
    user-select: none;
    scroll-behavior: smooth;
    font-size: 1em;
    margin: 45px;
    padding: 25px;
    color: #fff;
    background-color: rgb(13, 30, 36);
    /* background-color: #000; */
    resize: both;   
    cursor: progress;
}

h1 {
    font-size: 4rem;
    background: linear-gradient(130deg, aqua, magenta, orange);
    background-color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2,h3 {
    text-align: center;
    font-size: 3rem;
    background: linear-gradient(130deg, aqua, magenta, orange);
    background-color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-size: clamp(1rem, 1.35rem, 2rem);
    margin-left: 14px;
    color: #fff;
}

.top {
    text-align: center;
    font-size: 20px;
    scroll-behavior: smooth;
    width: 80%;
    font-weight: 200;
    color: #fff;
    text-decoration: none;
    background: linear-gradient(60deg, aqua, magenta, orange);
    background-color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: border-bottom 500ms ease-in-out;
}

.home,
.top:hover {
    border-bottom: 1px solid;
}
header {
    align-items: center;
    position: fixed;
    border: 2px solid #000;
    position: sticky;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
    background: linear-gradient(45deg, aqua, magenta, orange);
    background-size: 200% 100%;
    transition: background-position 0.7s ease-in-out;
}

header:hover {
    background-position: -100% 0;
}

ul {
    display: flex;
    justify-content: space-around;
}

li a {
    width: 90%;
    font-weight: 300;
    font-size: 2.1em;
    color: #fff;
    text-decoration: none;
}

hr {
    border: none;
    border-radius: 99px;
    background: linear-gradient(130deg, aqua, magenta, orange);
}

/* Content  */
.first {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}
.first > .widgets {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    max-width: calc(1024px - 90vh);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.first > .widgets > .clock{
    font-family: 'IBM Plex Mono', monospace;
    font-size: clamp(2rem, 8vw, 10rem);
    margin: 10px;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    background-image: linear-gradient(-75deg, #FA8BFF 0%, #2BD2FF 45%, #2BFF88 90%);    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}
.first > .widgets > .brand{
    font-family: 'IBM Plex Mono', monospace;
    font-size: clamp(2rem, 10vw, 10rem);
    margin: 10px;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    animation: background-pan 3.5s linear infinite;
    background: linear-gradient(to right, cyan, magenta,orange,cyan);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}
.first > .widgets > .slogan{
    color: var(--slogan);
    font-family: 'Dancing Script', cursive;
    font-size: 3.5em;
    line-height: 1.4em;
    font-weight: bold;

}
/*  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5) 
    text-shadow: 0 0 20px rgba(77, 166, 255, 0.8);
*/

@keyframes background-pan {
    from {
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
        text-shadow: 0 0 20px 
        rgba(0, 255, 255, 1) rgba(255, 0, 255, 1) rgba(255, 165, 0, 1);
        background-position: 0% center;
    }
    to {
        box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.5);
        text-shadow: 0 0 20px rgba(77, 166, 255, 0.8);
        background-position: -200% center;
    }
}

/* Blinking cursor animation */
@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #00ff75;
    }
}
/* #typewriter-paragraph {
    animation: typing 3s linear;
}
@keyframes typing {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
} */

/* CSS for the word highlight animation */
.animated-word {
    animation: colorChange 0.5s ease, blink-caret 0.3s linear forwards;
    display: inline-block;
    margin-right: 7px;
    border-right: 8.2px solid transparent;
    transition: all 0.4s ease-in-out;
}
.animated-word:hover{
    color: #00ff75;
    font-family: monospace;
    cursor: pointer;
}
/* Keyframes for the word color change animation */
@keyframes colorChange {
    0% {
        border-right: none;
        color: black;
    }
    100% {
        
        opacity: 0.4;
        font-style: italic;
        /* transform: translateY(100px); */
        font-family: monospace;
        color: cyan;
    }
}
/* End of First */

/* Second container */
.second {
    margin-top: 30px;
    margin-bottom: 30px;
}
.second > p{
    margin: 0 auto;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    font-family: Arial Nova, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    /* border: 2px solid #fff; */
}

.box {
    border: 2px solid #fff;
    /* flex: 6 / 2; */
    margin: 20px;
    padding: 20px;
    background-color: transparent;
    border-radius: 5px;
    width: calc(33.33% - 10px);
    height: calc(33.33% - 100px);
    margin-bottom: 20px;
    position: relative;
    opacity: 0;
    transform: translateY(50px);
    transition: all .3s ease-in-out;

}
.box.active {
    opacity: 1;
    transform: translateY(0);
}
.box:hover {
    background-color: #4e6057;
    transform: scale(0.98);
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.box img {
    float: left;
}

.box p {
    font-family: Arial Nova, sans-serif;
    margin: 10px;
    font-size: 1rem;
    text-align: justify;
    color: #fff;
}

.box a {
    font-size: 1rem;
    width: 2rem;
    color: #fefefe;
    background-color: #000;
    text-decoration: none;
    border-radius: 12px;
    padding: 12px;
    margin: 100px;
    background-size: 200% 100%;
    transition: background-position, animation 800ms ease-in-out;
}

.box > a:hover {
    background-position: -100% 0;
    background-origin: content-box;
    animation: more 800ms ease-in-out both;
}

@keyframes more {
    from {
        transform: scale(1);
    }

    to {
        background: var(--color);
    }
}

.box > a >.material-symbols-outlined {
    transform: rotate(190deg);
    transform: translateY(9px);
    border: none;
    /* vertical-align: baseline; */
}

a:hover .material-symbols-outlined {
    animation: rotate-icon 900ms forwards;
}

@keyframes rotate-icon {
    0% {
        transform: translateY(10px), rotate(0deg);
        opacity: 1;
    }

    90% {
        transform: rotate(-190deg);
        opacity: 1;
    }

    100% {
        transform: translateX(10px);
    }
}

/* Third Container */
.third {
    margin-top: 30px;
    margin-bottom: 30px;
}

.frameworks {
    display: flex;
    flex-direction: column;
}

.fr {
    padding: 14px;
    border: 2px solid transparent;
    display: flex;
    margin: 20px;
    transition: all 700ms ease-in-out;
    position: relative;
    overflow: hidden;
}

.fr:hover {
    border: 2px solid cyan;
    transform: scale(0.9);
    border-radius: 20px;
}

.fr::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--color);
    transition: width 700ms ease-in-out;
    z-index: -1;
}

.fr:hover::before {
    width: 100%;

}

.img {
    border: none;
    border-radius: 22px;
    margin: 2.1em;
    transition: all 500ms ease-in-out;
}

.img:hover {
    transform: rotateZ(360deg) scale(1.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

/* Theme Toggle */
.toggle-btn{
    display: grid;
    place-items: center;
}

.label {
    height: 60px;
    width: 120px;
    background-color: #ffffff;
    border-radius: 30px;
    -webkit-box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
        inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
        inset 0 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
        inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
        inset 0 0 0 3px rgba(0, 0, 0, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
}

.label:hover {
    -webkit-transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
    transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
}

#checkbox:checked~.label:hover {
    -webkit-transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
    transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
}

#checkbox {
    display: none;
}

#checkbox:checked~.label::before {
    left: 70px;
    background-color: #000000;
    background-image: linear-gradient(130deg,
            #757272 10%,
            #ffffff 11%,
            #726f6f 62%);
    /* background-image: linear-gradient(315deg, #000000 0%, #414141 70%); */
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.label::before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 70%);

    /* background-image: linear-gradient(130deg,
            #757272 10%,
            #ffffff 11%,
            #726f6f 62%); */
    left: 10px;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

/* Footer Styles */
footer{
    margin-top: 50px;
}
.navbar-links{
    margin: 25px;
    color: rgb(239, 255, 242);
    background-color: transparent;
    font-family: 'IBM Plex Mono', Arial Nova Light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer  .navbar-links > a {
    color: inherit;
    text-decoration: none;
}

.link {
    display: block;
    width: 80vw;
    margin-left: 10px;
    margin-right: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    font-size: clamp(2em, 8vw, 7em);
    padding: clamp(0.25em, 1vw, 1em) clamp(1em, 4vw, 4em);
    position: relative;
}

.link:nth-child(3) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.link::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background: linear-gradient(75deg, transparent, var(--blue), var(--light-blue-percent), var(--light-green));
}

.link:hover::before {
    transition: width 600ms ease;
    width: 100%;
}

.link-block {
    display: block;
}


/* End of File */