:root {
    --border: rgb(3, 169, 244);
    --c1: rgb(98, 0, 234);
    --c2: rgb(121, 208, 167);
    --c3: rgb(253, 216, 53);
    --c4: rgb(255, 0, 0);
    --c5: rgb(0, 255, 0);
    --c6: rgb(0, 0, 255);
    --c7: rgb(255, 255, 0);
    --c8: rgb(255, 0, 255);
    --c9: rgb(239, 215, 151);

}
*{
    font-family: 'Source Code Pro', monospace !important;
}

body {
    background-color: rgb(10, 10, 10); 
    display: grid;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    place-items: center;
    color: #fff;
    transition: background 900ms ease-in;
}
.box{
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 500px;
    width: 400px;
    padding: 12px;
    cursor: pointer;
    border: 2px solid var(--border);
    animation: border-animation 3s infinite;
}
@keyframes border-animation {
    0% {
        border-color: var(--c1);
    }
    25% {
        border-color: var(--c2);
    }
    50% {
        border-color: var(--c3);
    }
    75% {
        border-color: var(--c2);
    }
    100% {
        border-color: var(--c1);
    }
}
h1{
    color: var(--c1);
}
input{
    border-radius: 10px;
    border: 2.2px double var(--border);
    height: 20px;
    width: 100px;
    padding: 10px;
    margin: 15px;
    font-size: 2.2ch;
    transition: all 700ms ease-in-out;
}
input:focus{
    box-shadow: 0 0 2.5rem #fff; 
}
button{
    font-size: 23px;
    padding: 7px;
    margin: 15px;
    height: 70px;
    width: 185px;
    color: #000;
    background-color: azure;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: all 700ms ease-in-out;
}
button:hover{
    box-shadow: 0rem 0rem 2.5rem red;
    background-color: #000;
    color: #fff;
}
#loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #fff;
    z-index: 9999;
    animation: loading-animation 3.5s linear;
}

@keyframes loading-animation {
    0% {
        width: 0;
    }
    90%{
        width: 90%;
        opacity: 0.5;
        color: red;
    }
    100% {
        width: 100%;
    }
}