/* Properties for my webpages */

html{
    scroll-behavior: smooth;
}
body{
    font-size: 1em;
    margin: 45px;
    padding: 25px;
    color: #fff;
    background-color: #000;
    justify-content: space-around;
    /* background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite; */
    overflow: hidden;
    resize: both;
    animation: entry-effect 1s ease-in-out;
}
@keyframes entry-effect {
0% {
    opacity: 0;
    transform: scale(0.5);
}
100% {
    opacity: 1;
    transform: scale(1);
}
}
/* @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */
h1{
    float: left;
    /* writing-mode: vertical-lr; vertical orientation of text with flex only.*/
    font-size: 4rem;
    font-family: "Arial Nova Light";
    background: linear-gradient(130deg, aqua,magenta, orange);
    background-color: #fff; 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3{
    align-self: center;
    /* writing-mode: vertical-lr; vertical orientation of text with flex only.*/
    font-size: 3.2rem;
    font-family: "Arial Nova Light";

    background: linear-gradient(130deg, aqua,magenta, orange);
    background-color: #fff; 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p{
    font-family: "Arial Nova";
    font-size: 20px;
    margin-left: 20px;
}
.main{
    display: flex;
}
header {
/* box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.25); */
align-items: center;
border: 2px solid #000;
border-radius: 14px;
background: linear-gradient(45deg, aqua, magenta, orange);
background-size: 200% 100%;
transition: background-position 0.7s ease-in-out;
}

header:hover {
background-position: -100% 0;
}

ul{
    display: flex;
    justify-content: space-around;
}
li a{
    width: 90%;
    font-weight: 300;
    font-size: 2.1em;
    font-family: "Arial Nova Light";
    color: #fff;
    text-decoration: none;
}
hr{
    border: none;
    border-radius: 99px;
    background: linear-gradient(130deg, aqua,magenta, orange);
}