/* Seperate css file fonts and properties */

@font-face {
    font-family: 'Arial Nova Light';
    src: 
        url('https://offensive-vk.github.io/fonts/ArialNova.ttf') format('truetype'),
        url('https://offensive-vk.github.io/fonts/ArialNova.woff2') format('woff2'),
        url('https://offensive-vk.github.io/fonts/ArialNova.woff') format('woff');

    font-weight: 400;
    font-style: normal;
  }